doctype html
html(lang="en")
  head
    include head.pug
    title Signup
  body 
    form(action="/signup", method="post" class="w3-container w3-center") 
      label(for="usr") Username
      br
      input#usr(type="text", name="usr", class="w3-round", style="border: 2px solid #ccc;") 
      br
      br
      label(for="usr") Password
      br
      input#psw(type="password", name="psw", class="w3-round", style="border: 2px solid #ccc;")
      br
      br
      label(for="usr") Password Confirm: 
      br
      input#pswCon(type="password", name="pswCon", class="w3-round", style="border: 2px solid #ccc;")
      br
      br
      input(type="submit", value="Signup" class="w3-green w3-button w3-round")